@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  @apply bg-background-light font-display text-slate-900;
}

html.dark {
  @apply bg-background-dark text-white;
}

#root {
  min-height: 100vh;
}

body {
  margin: 0;
  min-height: 100vh;
  @apply bg-transparent;
}
